<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseDocumentFolder" value="D:\InsuranceApplication" />
	<add key="MemberImageFolder" value="Members" />
  </appSettings>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=lenovo-pc\sqlexpress;Initial Catalog=InsuranceManagement;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>